textarea {
    min-height: 400px;
}

* {
    font-family: Arial;
}

#emails-list > li {
    height: 50px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .read {
      background-color: lightgray;
  }

  .read:li {
      color: blue;
      background-color: gray;
  }

  .email-time {
      float: right;
      color: gray;
  }