{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <ul>
        {% if title and edit and edit_title %}
            <p>{{ title | safe }}</p>

        <form action="{% url 'edit' %}" method="get">
            <input type="hidden" name="edit_body" value="{{ edit }}">
            <input type="hidden" name="edit_title" value="{{ edit_title }}">
            <button>Edit Page</button>
        </form>
        {% else %}
            <p style="color: red;">Error: Article does not exist</p>
        {% endif %}
    </ul>

{% endblock %}